@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  .aboutSectioin {
    text-align: center;
    padding: 16px;
  }
}
@media (max-width: 600px) {
  .svgGridSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .TextCenter {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .ImageCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .buttonAlign {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .contactSection {
    width: 94vw;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .navSection {
    padding: 0px 16px;
  }
}

@media (max-width: 1024px) {
  .contact__container {
    padding-left: 64px;
  }
}
@media (min-width: 1025px) {
  .contact__container {
    padding-left: 256px;
  }
}
